<main class="lista-vacantes">
  <h2>Vacancy List</h2>


  {{#if vacancies.length}}

  {{#each vacancies}}
  <div class="vacante">
    <div class="caja">
      <h3>{{Company}}</h3>
      <p class="puesto">{{Title}}</p>
    </div>
    <div class="caja">
      <p class="etiqueta">Location</p>
      <p class="nombre">{{Location}}</p>
    </div>
    <div class="caja">
      <p class="etiqueta">Contract</p>
      <p class="nombre contrato">{{Contract}}</p>
    </div>
    <div class="caja centrar-vertical">
      <a href="/vacancies/{{Url}}" class="btn btn-verde">More Info</a>
    </div>
  </div> <!-- Vacancy --->
  {{/each}}
  {{else}}
  <p>There's no Vacancies'</p>
  {{/if}}
</main>