<div class="contenido-superior vacante contenedor">
  <div class="caja">
    <p class="etiqueta">Company / organization</p>
    <p class="nombre">{{vacancy.Company}}</p>
  </div>
  <div class="caja">
    <p class="etiqueta">Location</p>
    <p class="nombre">{{vacancy.Location}}</p>
  </div>
  <div class="caja">
    <p class="etiqueta">Contract</p>
    <p class="nombre contrato">{{vacancy.Contract}}</p>
  </div>
</div>

<div class="vacante-contenedor contenedor">
  <main class="contenido">
    <h2>Vacancy Description</h2>
    <div class="vacante-descripcion">
      {{{vacancy.Description}}}
    </div>
    <a
      href="/vacancies/edit/{{vacancy.Url}}"
      class="btn btn-azul editar-btn"
    >Editar</a>
  </main>
  <aside class="sidebar">
    <h2>Required Skills</h2>
    <ul class="skills">
      {{#each vacancy.Skills}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </aside>
</div>